h1 {
    text-align: center;
    text-decoration-color: teal;
}
h2 {
    text-align: center;
    text-decoration-color: teal;
}
body {
background-color: tomato;
}
.image {
    align-content: center;
}
.leftBurgers{
  display: inline;
}

  .rightBurgers {
    display: inline;
    
  }
  