h1 {
    text-align: center;
    text-decoration-color: teal;
}
h2 {
    text-align: center;
    text-decoration-color: teal;
}
body {
background-color: tomato;
}
#image {
    align-content: center;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    align-content: center;
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
 
  .rightBurgers {
    float: right;
  }
  